.content {
  background: linear-gradient(
    to bottom,
    #c5e3fc,
    #9fcde6,
    #7ab7d1,
    #559fbb,
    #2f88a6,
    #1a0b50
  );
  background-attachment: fixed;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 10px;
}

.wrapper {
  display: grid;
  padding: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.responsive {
  max-width: 96%;
  height: auto;
  border-radius: 2%;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

.row,
.row > .box {
  padding: 10px;
}

.box {
  border-radius: 5px;
  float: left;
  width: calc(50% - 20px);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 5px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px;
  background-color: white;
  cursor:pointer
}

.btn:hover {
    background-color:#ddd
}

.btn.active {
    background-color:#666
    color:white
}
